# Git
.git
.gitignore

# Docker
.dockerignore
dockerfile
docker-compose.yml

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE and editor directories
.idea/
.vscode/

# Test artifacts
.pytest_cache/
.coverage

# Local instance data
db.sqlite3
*.log

# Helm chart data
book-catalog-chart/